<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body>
    <!-- <div class="navbar navbar-inverse navbar-fixed-top"> -->
    <div class="navbar navbar-inverse ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/adm"class = "navbar-brand"><span class="material-symbols-outlined">
                    home
                    </span></a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="adm/adm-cliente">Clientes</a></li>
                    <li><a>Quartos</a></li>
                    <li><a>Reservas</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        
<div class="jumbotron">
    <figure>
        <img src="imagem/logo-azul.png" />
    </figure>
    <h1 class="display-4">Área Administrativa</h1>
    <p class="lead">Utilize o menu acima para gerenciar as informações desejadas.</p>
    <hr class="my-4">
    <p>Para voltar à area pública dos site utilize o botão abaixo.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">voltar</a>
    </p>
</div>


        <hr />
        <footer>
            <p>&copy;2023 - Hotel IceTown</p>
        </footer>
    </div>
</body>
</html>