<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <!--metatag viewport para o Responsivo -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel IceTown</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>

    <div id=container>

        
<style>
    header {
        height: 15vmin;
        min-height: 15vmin;
    }
</style>
<!-- include header -->
<header>
    
        <div class='logado'> 
                <img src='imagem/logo-azul.png' alt='logo da empresa'> 
                <a href='/perfil.html'> 
                <img src='imagem/img_login.png' alt='silhoueta de perfil de usuário'> 
                </a>
                <p>Olá,<br /> Usuário
                <br><a href='/LogOut'>sair</a></p>
    
        <nav>
            <div id="painel-menu">
                <input type="checkbox">
                <span></span>
                <span></span>
                <span></span>
                <ul>
                    <li><a href="">Acomodação</a></li>
                    <li><a href="">Lazer</a></li>
                    <li><a href="">Gastronomia</a></li>
                    <li><a href="">Reservas</a></li>
                </ul>
            </div>
        </nav>
    </div>

    
</header>
<main>
    <div id="perfil">
        <form action="perfil" method="post" enctype = "multipart/form-data">
            <h1>Meu Perfil</h1>
            <p>
                <input type="text" name="nome" id="nome" placeholder = "Nome">
                <b>*</b>
            </p>
            <p>
                <input type="text" name="email" id="email" placeholder = "E-mail">
                <b>*</b>
            </p>
            <p>
                <input type="text" name="nome-usuario" id="nome-usuario" placeholder = "Nome de Usuario">
                <b>*</b>
            </p>
            <p>
                <input type="text" name="cpf" id="cpf" placeholder = "CPF">
                <b>*</b>
            </p>
            <p>
                <input type="file" name="imagem-perfil" id="imagem-perfil" onchange = "loadImg()">
                <img id="img-preview">               
            </p>
            <p>
                <input type="password" name="senha" id="senha" placeholder="senha de Usuario">
                <span class="aviso">Não preencha este campo para manter a senha atual</span>
            </p>
            <p>
                <input type="submit" value="Alterar dados perfil" />
            </p>
        </form>
        <h1>Minhas Reservas</h1>
        <p>Você ainda não possui reservas!</p>

    </div>


</main>
        <footer>
            <section>
                <img src="imagem/logo_branco.png" alt="Logo do Hotel">
                <address>
                    Valle Nevado<br>
                    Av. Viatacura 5250, Viatcura - Chile<br><br>
                    (56-2) 2477-7705<br>
                    BRA: 0800-892-0490
                </address>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.659481273448!2d-70.25112108428772!3d-33.35384489994792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967d30a283ed6629%3A0x5f3274c5159e4972!2sValle%20Nevado!5e0!3m2!1spt-BR!2sbr!4v1615411678348!5m2!1spt-BR!2sbr" loading="lazy"></iframe>
            </section>

            <section>
                <img src="imagem/xwitter.png" alt="logo twitter">
                <img src="imagem/face.png" alt="logo facebook">
                <img src="imagem/whats.png" alt="logo whatsapp">
            </section>

        </footer>

    </div>

</body>

</html>